AIRFLOW_UID=50000

AWS_PROFILE=De-School-students
AWS_DEFAULT_REGION=eu-central-1

AIRFLOW_CONN_AWS_S3=aws://?region_name=eu-central-1

CHEMBL_RELEASE=37
CHEMBL_AWS_CONN_ID=aws_s3
CHEMBL_S3_BUCKET=de-school-educational-data
CHEMBL_S3_PREFIX=final_task/riabkova_maria

AIRFLOW_CONN_MSTEAMS_WEBHOOK=
