.env
.env.*
!.env.example

.venv/
venv/

__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/


data/
data_full/
*.parquet

logs/
plugins/
scripts/
.airflow/
config/airflow.cfg

airflow.db
*.log

.idea/
.vscode/

.DS_Store
Thumbs.db